<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBg</string>
		<key>UIImageName</key>
		<string>LaunchScreenLogo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>러닝 기록 이미지를 저장하려면 사진 접근 권한이 필요합니다.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>러닝 기록 이미지를 저장하려면 사진 접근 권한이 필요합니다.</string>
    <key>OPENAI_API_KEY</key>
    <string>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</string>

</dict>
</plist>
